:root {																					
	/*background color for navbar*/
    --bcolor-navbar: #313131;																
	--bcolor-navbar-title: #515151;															
    --bcolor-navbar-hover: #fff700;															
    --bcolor-navbar-active: #000000;														
	--bcolor-navbar-info:  #990000;														

	/*font color for navbar*/
	--color-navbar-link: #ffffff;															
	--color-navbar-link-hover: #0000a0;														
	--color-navbar-link-active: #fff700;													
	--color-navbar-info: #ffffff;															
	--color-navbar-title: #ffffff;														

	/*miscellaneous  background color*/
	--bcolor-menue-header: #ff6d6d;															
	--bcolor-menue-header-disabled: #ffa0a0;												

	/*miscellaneous font color*/
	--color-disabled-test: lightgray;														
}

#navbar {																					
	width: 100%;																			
	background-color:var(--bcolor-navbar);													
	position:fixed;																			
	top: 0;																					
	left: 0;																				
	z-index: 10;																	
	white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#navbar #header{
	padding-top: 5px;																	
	padding-left: 5px;																
	padding-bottom: 5px;															
	color: var(--color-navbar-title);													
	background-color: var(--bcolor-navbar-title);										
}

#navbar ul{																				
	list-style-type: none;																	
	margin: 0;																				
	padding: 0;																				
	background-color: var(--bcolor-navbar);												
	display: inline-block																	
}

#navbar ul li {																				
	display: inline-block;																
}

#navbar ul li a {																		
	color: var(--color-navbar-link);													
	display: block;																	
	text-align: center;																	
	padding: 2px 7px 5px 7px;															
	text-decoration: none;												
}

#navbar ul li a:hover:not(.active){															
	background-color: var(--bcolor-navbar-hover);											
	color:  var(--color-navbar-link-hover);								
}

#navbar .active{																		
	background-color: var(--bcolor-navbar-active);										
	color: var(--color-navbar-link-active);													
}

#navbar #info{																				
	color: var(--color-navbar-info);														
	background-color: var(--bcolor-navbar-info);											
	display: inline-block;																	
}


body {
	background-color: black;
}

h1, h2, h3 {
	color: white;
}

p {
	color: white;
}

th {
	color: white;
}

summary{
	color: white;
}

label{
	color: white;
}

input{
	color: white;
	background-color: #313131;
}

#result{
	color: green;
}

a:link{
	color: #fff700;
}

a:visited{
	color: #fff700;
}

img {
    max-width: 100%;
    max-height: 100%;
}