<html>
	<body>
		<h1>Comparison between {{ act1 }} and {{ act2 }}</h1>
		
		{% if act1 == "Total" %}
			<p>Only show top 20 IP-Addresses when Total is selected</p>
			<br>
			{% else %}
				{% if act2 == "Total" %}
					<p>Only show top 20 IP-Addresses when Total is selected</p>
					<br>
				{% endif %}
		{% endif %}
		
		
		<table>
			{% for content in data.content %}
				<tr>
					<th colspan="3"><h2>{{ content.name }}:</h2></th>
				</tr>
				{% for image in content.images %}
					<tr>
						<th colspan="3"><p>{{ image.alt }}:</p></th>
					</tr>
					<tr>
						<th><img src="/white{{ image.url}}"" alt="{{ image.alt }}"" loading="lazy" title="{{ image.alt }}" height="200px"></th>
					</tr>
					<tr>
						<th><img src="/white{{image.url1}}"" alt="{{ image.alt }}"" loading="lazy" title="{{ image.alt }}" height="200px"></th>
					</tr>
					<tr>
						<th style="padding-left:10px"><p>{{ image.description }}</p></th>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
    
	</body>
</html>