<html>
	<head>
		<title>IP Collector</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<div id="navbar">
			<div id="header">
				<font size="3" face="Helvetica" ><b>IP Collector</b></font>
				{% if actual == "Total" %}
					<font size="1" face="Helvetica" ><b>- Compare</b></font>
				{% else %}
					<font size="1" face="Helvetica" ><b>- Compare - {{ actual }}</b></font>
				{% endif %}
			</div>
			<div id="buttonline">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/data/">View Data</a></li>
					<li><a href="/diagram/">View Diagram</a></li>
					<li><a href="/compare/" class="active">Compare</a></li>
				</ul>
				<span id="info"></span>
			</div>
		</div>
		<br>
		<br>
		<br>

		<table>
			<tr>
				<th><h3>Persons</h3></th>
				<th><h3>Running Traces</h3></th>
			</tr>
			<tr>
				<th>
					<table border="2">
						{% for person in persondata.persons %}
							<tr>
							{% if person.name == "Total" %}
								<th><a href="/compare/">{{ person.name }}</a></th>
							{% else %}
								<th><a href="/compare/">{{ person.name }}</a></th>
							{% endif %}
							<th>{{ person.number }}</th>
							</tr>
						{% endfor %}
					</table>
				</th>
				<th>
					<table>
					{% for threadname in runningThreads %}
						<tr>
							<th>{{ threadname }}</th>
						</tr>
					{% endfor %}
					</table>
				</th>
			</tr>
		</table>
		<hr>

		<br>
		{% if act1 == "Total" %}
			<p>Only show top 20 IP-Addresses when total is selected</p>
		{% else %}
			{% if act2 == "Total" %}
				<p>Only show top 20 IP-Addresses when total is selected</p>
			{% endif %}
		{% endif %}
		<table>
			<form action="" method="POST">
				<tr style="position: sticky;top: 80px;">
					<th style="width:40%">
						<select name="user1" id="user1" onchange="this.form.submit()">
							{% for person in persondata.persons %}
								{% if person.name == act1 %}
									<option selected="selected" value="{{ person.name }}">{{ person.name }}</option>
								{% else %}
									<option value="{{ person.name }}">{{ person.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</th>
					<th style="padding-left:10px; width:20%"></th>
					<th style="width:40%">
						<select name="user2" id="user2" onchange="this.form.submit()">
							{% for person in persondata.persons %}
								{% if person.name == act2 %}
									<option selected="selected" value="{{ person.name }}">{{ person.name }}</option>
								{% else %}
									<option value="{{ person.name }}">{{ person.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</th>
				</tr>
			</form>
			{% for images in data.images %}
			<tr>
				<th colspan="3"><p style="background-color:blue;>{{ images.alt }}:</p></th>
			</tr>
			<tr>
				<th><img src="{{ images.url}}"" alt="{{ images.alt }}"" loading="lazy" title="{{ images.alt }}"></th>
				<th style="padding-left:10px"><p>{{ images.description }}</p></th>
				<th><img src="{{images.url1}}"" alt="{{ images.alt }}"" loading="lazy" title="{{ images.alt }}"></th>
			</tr>
			<tr>
				<th colspan="2"><br><br></th>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>