<html>
  <head>
      <title>IP Collector - Data</title>
  </head>
  <body>
    <h1>IP Collector - Data</h1>
    <a href="/">To IP Collector</a>
    <hr>

    <table>
      <tr>
        <th><h3>Persons</h3></th>
        <th><h3>Running Traces</h3></th>
      </tr>
      <tr>
        <th>
          <table border="2">
            {% for person in persondata.persons %}
            <tr>
              <th>{{ person.name }}</th>
              <th>{{ person.number }}</th>
            </tr>
            {% endfor %}
          </table>
        </th>
        <th>
          <table>
            
            {% for threadname in runningThreads %}
            <tr>
              <th>{{ threadname }}</th>
            </tr>
            {% endfor %}
          
          </table>
        </th>
      </tr>
    </table>
    <hr>

    <h2>Data</h2>
    {% for measurement in data.measurements %}
    <details>
      <summary>
      {{ measurement.measurement }}
      </summary>
      {% for trace in measurement.traces %}
      <p>{{ trace }}</p>
      {% endfor %}
    </details>
    <hr>
    {% endfor %}

  </body>
</html>