<html>
  <head>
      <title>TrackingData</title>
  </head>
  <body>
    <h1>TrackingData</h1>
    <a href="/">back</a>
    <hr>

    <h2>Persons</h2>
    <table border="2">
      {% for person in persondata.persons %}
      <tr>
        <th>{{ person.name }}</th>
        <th>{{ person.number }}</th>
      </tr>
      {% endfor %}
    </table>
    <hr>
    <h2>Data</h2>
    {% for measurement in data.measurements %}
    <details>
      <summary>
      {{ measurement.measurement }}
      </summary>
      {% for trace in measurement.traces %}
      <p>{{ trace }}</p>
      {% endfor %}
    </details>
    <hr>
    {% endfor %}
    

  </body>
</html>