<html>
	<body>
		<h1>Diagramm for {{ actual_user }}</h1>
		{% if actual_user == "Total" %}
			<p>Only show top 20 IP-Addresses</p>
			<br>
		{% endif %}
		
		
		<table>
			{% for content in available_images.content %}
				<tr>
					<th colspan="3"><h2><u>{{ content.name }}:</u></h2></th>
				</tr>
				{% for image in content.images %}
					<tr>
						<th colspan="3"><p>{{ image.alt }}:</p></th>
					</tr>
					<tr>
						<th><img src="/white{{ image.url }}" alt="{{ image.alt }}" loading="lazy" title="{{ image.alt }}" height="300px"></th>
					</tr>
					<tr>
						<th><p>{{ image.description }}</p></th>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
    
	</body>
</html>